body {
    color: #343a4e;
}

.body-content {
    position: relative;
    padding-bottom: 15px;
}

.header {
    line-height: 34px;
}

.bottom-buffer {
    margin-bottom: 10px;
}

.error-msg {
    border: 1px solid red;
}

.page-button {
    margin-top: 10px;
    padding: 5px 0;
    width: 90px;
    height: 35px;
    transition: all 0.2s ease;
    color: #fff;
    background: #484e60;
    border: none;
    border-radius: 5px;
}

.page-button:hover {
    cursor: pointer;
}

.results {
    display: none;
}

#input-errors,
#parse-errors {
    color: red;
    display: inline;
}
